<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management</title>
</head>
<body>
  <h1>Home</h1>
  <h2>Welcome, <%= username %> </h2>

  <!-- Logout Button -->
  <form action="/auth/logout" method="post">
    <input type="submit" value="Logout">
  </form>

  <a href="/users">Manage Users</a>

</body>
</html>
